version: '3.9'

services:
  db:
    image: postgres:15
    container_name: avito_postgres
    restart: always
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data

  volumes:
    pgdata: