version: '3.9'

services:
  db:
    image: postgres:15
    container_name: avito_postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: ./ 
    container_name: avito_app
    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - ./.env:/app/.env
    ports:
      - "8080:8080"


volumes:
  pgdata: